*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
}
body{
    background-color: rgb(246, 248, 249);
    margin-left: 25px;
}
.head-container {
    width: 100vw;
    height: 5vw;
}
.head-container > img{
    vertical-align: bottom;
}
.head-container > h1 {
    display: inline-block;
    font-size: 60px;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: rgb(71, 173, 241);
}
.format{
    margin: auto;
    margin-top: 60px;
    height: 3vw;
    width: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(246, 248, 249);   
}
.box{
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}
.white-box{
    border: 2px solid rgb(208, 213, 217);
    color: rgb(208, 213, 217);
}
.blue-box{
    color: white;
    margin-left: 60px;
    border: 2px solid rgb(71, 173, 241);
}