*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    width: 100vw;
    height: 5vw;
}
body{
    width: 100vw;
    background-color: rgb(246, 248, 249);
}
main{
    margin: auto;
    width: 70%;
}
.head-container > img{
    vertical-align: bottom;
}
.head-container > h1 {
    display: inline-block;
    font-size: 60px;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: rgb(71, 173, 241);
}
.format{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgb(246, 248, 249);   
}
.box{
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.white-box{
    border: 2px solid rgb(208, 213, 217);
    color: rgb(208, 213, 217);
}
.blue-box{
    color: white;
    margin-left: 60px;
    border: 2px solid rgb(71, 173, 241);
}
.format2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
}
ul{
    list-style: "\25BC";
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
}
ol{
    list-style: none;
    font-size: 20px;
    font-weight: normal;
}
.labelformat{
    display: inline-block;
    width: 100px;
    height: 40px;
    padding: 8px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}
ol li{
    margin-top: 10px;
}
